---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif"
		/>

		<title>Astro</title>
		<style>
			body {
				display: flex;
				font-family: "IBM Plex Serif", serif;
				font-weight: 300;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Soon™ (づ｡◕‿‿◕｡)づ</h1>
		</div>
	</body>
</html>
